*{
	margin:0;
	padding: 0;
	top:0;
	left:0;
	box-sizing: border-box;
}

header{
	background: #330a07;
	color:white;
	padding: 40px;
}


h1{
	text-align: center;
	font-weight: bold;
	font-size: 45px;

}

h2{
	font-size: 35px;
	margin-left: 0;
}

#main-doc{
	display: flex;
}

nav > ul{
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #1f1c1c;
}

nav ul li {

	list-style: none;
	display: block;
	padding: 20px;
	margin:10px;
	font-size: 20px;
	align-items: flex-end;

}



.done{
	display: block;
	text-decoration: none;
	color:black;
	padding: 10px;	
	
	color:white;
}



#topics{
	width:20%;
	background: #1f1c1c;
}

#sections{
	width: 80%;
	display: flex;
	flex-direction: column;
}

.main-section{
	display: block;
	padding: 20px;
}

.main-section > div{
	padding: 30px;
}


code{
	display: block;
	padding: 20px;
	background: #cfc9ba;
	border-radius: 5px;
}


.description{
	padding: 50px;
	background: cyan;
}


footer{
	display: block;
	background: #330a07;
	color:white;
}

footer > h3{
	text-align: center;
	padding: 60px;
	font-size: 20px;
	letter-spacing: 3px;
}

footer h3 a{
	text-decoration: none;
	color:white;

}